footer {
  text-align: center;
  padding-bottom:2em;
  font-size: 0.9em;
}

footer > *{
padding-top:1em; 
}

footer nav {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

footer nav a {
  border:none;
  color: #495057;
  padding: 10px;
  border-radius:5px;
}

footer nav a:hover {
  background:#f1f4f8;
}
