.pagination {
	/*overflow: hidden;
	margin: 0 -1.5rem 1rem;
	font-family: "PT Sans", Helvetica, Arial, sans-serif;
	color: #ccc;
	text-align: center;*/
}

.pagination-item {
/*	display: block;
	padding: 1rem;
 	border: solid #eee; 
	border-width: 1px 0;
	background: #f1f4f8;*/
  background:#f1f4f8;
  display:block;
  margin-bottom:15px;
  padding:20px;
  font-size:1.2em;
  border-radius:5px;	
}

.pagination-item:first-child {
	/*margin-bottom: -1px;*/
}

a.pagination-item:hover {
	background-color: #e1e6ed;
}

@media (min-width: 30em) {
	.pagination {
	  display:flex;
          flex-wrap:wrap;
	}
	/*.pagination-item {
		float: left;
		width: 50%;
		border-width: 1px;
	}*/
	.pagination-item:first-child {
		margin-right:10px;
    		flex:1;
    		text-align:right;
	}
	.pagination-item:last-child {
		margin-left:10px;
    		flex:1;
	}
}
